

div.imie {
	text-align: right;
	color:blue ;

	
	h1{
		color: red;
	}
	
}
div#akapit1_mionskowski	{

/*sposób wyrównywania tekstu dla całego akapitu*/
text-indent: 2cm;
text-decoration: overline;
font-family: serif;
color: #006400 ;
line-height: 1cm;
word-spacing: 12px;
letter-spacing: 5ex;
text-transform: capitalize;
font-weight: 200 , 700 , 900;
FONT-VARIANT: small-caps; 
/*odstępy między: wierszami 
odstępy między: wyrazami 
odstępy między: literami */
}
z1_kowalski /* zdanie pierwsze*/
{
FONT-VARIANT: ……………….;
…………………………….
}
